.filed {
  color: red;
}

.cardsArr {
  border: 2rem;
  transition: 0.3s;
  cursor: pointer;
  height: auto;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  display: inline-block;
  margin: 40px;
  padding-right: 30px;
  border-radius: 5px;
  max-width: 70%;
}

.currentCard {
  display: flex;
}

#logoArr {
  width: auto;
  height: 30px;
}

.imageArr img {
  object-fit: cover;
  width: auto;
  height: 90px;
}

.prodNameArr {
  direction: rtl;
}

.captionArr {
  margin-top: 10px;
  text-align: right;
  color: #888;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}

.wrapper {
  max-height: 270px;
  border: 1.5px solid rgb(105, 105, 105);
  border-radius: 12px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wrapper::-webkit-scrollbar {
  width: 1;
  color: rgb(74, 33, 33);
}

.wrapper .prodImg {
  min-width: 80px;
  height: 180px;
  cursor: pointer;
  line-height: 110px;
  padding: 40px;

}

.cnt {
  font-size: 22px;
  margin-top: 10px;
  justify-content: center;
  display: flex;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(110, 164, 72, 0.659);
}

.notFeild {
  padding: 30px;
}

.filed {
  color: rgb(227, 30, 30);
}

.editBtn {
  padding: 5px;
  width: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  margin: 50px;
  float: left;
}

.btn-5 {
  background: rgba(105, 104, 104, 0.397);
  color: #fff;
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-5:hover {
  background: transparent;
  color: #000;
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}

.btn-5:before,
.btn-5:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: rgb(147, 193, 133);
  transition: 400ms ease all;
}

.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}