body {
    width: 100%;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(106, 162, 152);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(106, 162, 152, 0.616);
}

/* .col-container {
    overflow: auto;
    display: table;
    width: 100%; 
    width: 110px;
    height: 110px;
}*/
.container{
    max-width: 1200px;
margin: auto;
background: rgb(112, 111, 111);
overflow: auto;
}

.cards{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
    /* width: 100%;
    height: 80%;
    cursor: pointer;
    background: #fff;
    box-shadow: 1px 1px 10px -8px #333;
    padding: 10px;
    justify-content: space-between;
    display: flex; */
    /* margin: 10px; */
    /* border:solid rgb(0, 0, 0) 1px; */
} 
/* .cards img{
    width: 100%;
    height: auto;
} */

.scroll {
    margin: auto;
    width: 50%;
}